In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load
census_data = Path("../datasets/age_census_data.csv")

In [3]:
# Load csv as df
census_df = pd.read_csv(census_data)

In [4]:
# View df
census_df.head()

,Label (Grouping),Alabama!!Total!!Estimate,Alabama!!Total!!Margin of Error,Alabama!!60 years and over!!Estimate,Alabama!!60 years and over!!Margin of Error,Alaska!!Total!!Estimate,Alaska!!Total!!Margin of Error,Alaska!!60 years and over!!Estimate,Alaska!!60 years and over!!Margin of Error,Arizona!!Total!!Estimate,...,Wisconsin!!60 years and over!!Estimate,Wisconsin!!60 years and over!!Margin of Error,Wyoming!!Total!!Estimate,Wyoming!!Total!!Margin of Error,Wyoming!!60 years and over!!Estimate,Wyoming!!60 years and over!!Margin of Error,Puerto Rico!!Total!!Estimate,Puerto Rico!!Total!!Margin of Error,Puerto Rico!!60 years and over!!Estimate,Puerto Rico!!60 years and over!!Margin of Error
0,Total population,"5,074,296",*****,"1,254,589","±8,153","733,583",*****,"145,091","±2,694","7,359,197",...,"1,526,889","±6,815","581,381",*****,"146,340","±2,749",NaN,NaN,NaN,NaN
1,SEX AND AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Male,48.5%,±0.1,44.9%,±0.3,52.6%,±0.3,51.2%,±0.8,50.0%,...,47.3%,±0.2,51.2%,±0.4,49.1%,±0.9,NaN,NaN,NaN,NaN
3,Female,51.5%,±0.1,55.1%,±0.3,47.4%,±0.3,48.8%,±0.8,50.0%,...,52.7%,±0.2,48.8%,±0.4,50.9%,±0.9,NaN,NaN,NaN,NaN
4,Median age (years),39.6,±0.2,69.7,±0.2,35.9,±0.3,68.5,±0.4,38.8,...,69.6,±0.2,39.1,±0.5,69.5,±0.3,NaN,NaN,NaN,NaN

In [5]:
# Drop all columns with margin in name
census_df.drop(census_df.filter(regex='Margin').columns, axis=1, inplace=True)

# Drop 60+ columns
census_df.drop(census_df.filter(regex='60').columns, axis=1, inplace=True)
census_df.head()

,Label (Grouping),Alabama!!Total!!Estimate,Alaska!!Total!!Estimate,Arizona!!Total!!Estimate,Arkansas!!Total!!Estimate,California!!Total!!Estimate,Colorado!!Total!!Estimate,Connecticut!!Total!!Estimate,Delaware!!Total!!Estimate,District of Columbia!!Total!!Estimate,...,Tennessee!!Total!!Estimate,Texas!!Total!!Estimate,Utah!!Total!!Estimate,Vermont!!Total!!Estimate,Virginia!!Total!!Estimate,Washington!!Total!!Estimate,West Virginia!!Total!!Estimate,Wisconsin!!Total!!Estimate,Wyoming!!Total!!Estimate,Puerto Rico!!Total!!Estimate
0,Total population,"5,074,296","733,583","7,359,197","3,045,637","39,029,342","5,839,926","3,626,205","1,018,396","671,803",...,"7,051,339","30,029,572","3,380,800","647,064","8,683,619","7,785,786","1,775,156","5,892,539","581,381",NaN
1,SEX AND AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Male,48.5%,52.6%,50.0%,49.4%,50.1%,50.7%,49.0%,48.6%,47.6%,...,49.1%,50.0%,50.8%,49.6%,49.5%,50.5%,49.7%,50.2%,51.2%,NaN
3,Female,51.5%,47.4%,50.0%,50.6%,49.9%,49.3%,51.0%,51.4%,52.4%,...,50.9%,50.0%,49.2%,50.4%,50.5%,49.5%,50.3%,49.8%,48.8%,NaN
4,Median age (years),39.6,35.9,38.8,38.9,37.9,37.7,40.9,41.5,34.9,...,39.2,35.6,32.1,43.2,39.0,38.4,42.9,40.4,39.1,NaN

In [7]:
# Rename the columns to be more readable 
# renamed_census_df = census_df.rename(columns=lambda x: x.replace('!!60 years and over!!Estimate', '_60+_Estimate'))
renamed_census_df = census_df.rename(columns=lambda x: x.replace('!!Total!!Estimate', ''))
renamed_census_df = renamed_census_df.rename(columns={"Label (Grouping)": "Stat"})
renamed_census_df

,Stat,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Puerto Rico
0,Total population,"5,074,296","733,583","7,359,197","3,045,637","39,029,342","5,839,926","3,626,205","1,018,396","671,803",...,"7,051,339","30,029,572","3,380,800","647,064","8,683,619","7,785,786","1,775,156","5,892,539","581,381",NaN
1,SEX AND AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Male,48.5%,52.6%,50.0%,49.4%,50.1%,50.7%,49.0%,48.6%,47.6%,...,49.1%,50.0%,50.8%,49.6%,49.5%,50.5%,49.7%,50.2%,51.2%,NaN
3,Female,51.5%,47.4%,50.0%,50.6%,49.9%,49.3%,51.0%,51.4%,52.4%,...,50.9%,50.0%,49.2%,50.4%,50.5%,49.5%,50.3%,49.8%,48.8%,NaN
4,Median age (years),39.6,35.9,38.8,38.9,37.9,37.7,40.9,41.5,34.9,...,39.2,35.6,32.1,43.2,39.0,38.4,42.9,40.4,39.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD IN...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,Less than 30 percent,57.3%,60.7%,50.6%,59.6%,46.9%,49.1%,50.5%,55.2%,54.7%,...,55.9%,50.4%,55.0%,53.0%,53.7%,51.4%,58.2%,57.2%,61.4%,NaN
124,30 percent or more,42.7%,39.3%,49.4%,40.4%,53.1%,50.9%,49.5%,44.8%,45.3%,...,44.1%,49.6%,45.0%,47.0%,46.3%,48.6%,41.8%,42.8%,38.6%,NaN
125,GROSS RENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,Median gross rent (dollars),913,"1,329","1,450",846,"1,870","1,646","1,360","1,274","1,843",...,"1,096","1,290","1,372","1,141","1,441","1,630",795,992,895,NaN

In [14]:
# # Drop all columns with 60+ data
# renamed_census_df.drop(renamed_census_df.filter(regex='60+').columns, axis=1, inplace=True)
# renamed_census_df.head()

,Stat,Alabama_Total_Estimate,Alaska_Total_Estimate,Arizona_Total_Estimate,Arkansas_Total_Estimate,California_Total_Estimate,Colorado_Total_Estimate,Connecticut_Total_Estimate,Delaware_Total_Estimate,District of Columbia_Total_Estimate,...,Tennessee_Total_Estimate,Texas_Total_Estimate,Utah_Total_Estimate,Vermont_Total_Estimate,Virginia_Total_Estimate,Washington_Total_Estimate,West Virginia_Total_Estimate,Wisconsin_Total_Estimate,Wyoming_Total_Estimate,Puerto Rico_Total_Estimate
0,Total population,"5,074,296","733,583","7,359,197","3,045,637","39,029,342","5,839,926","3,626,205","1,018,396","671,803",...,"7,051,339","30,029,572","3,380,800","647,064","8,683,619","7,785,786","1,775,156","5,892,539","581,381",NaN
1,SEX AND AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Male,48.5%,52.6%,50.0%,49.4%,50.1%,50.7%,49.0%,48.6%,47.6%,...,49.1%,50.0%,50.8%,49.6%,49.5%,50.5%,49.7%,50.2%,51.2%,NaN
3,Female,51.5%,47.4%,50.0%,50.6%,49.9%,49.3%,51.0%,51.4%,52.4%,...,50.9%,50.0%,49.2%,50.4%,50.5%,49.5%,50.3%,49.8%,48.8%,NaN
4,Median age (years),39.6,35.9,38.8,38.9,37.9,37.7,40.9,41.5,34.9,...,39.2,35.6,32.1,43.2,39.0,38.4,42.9,40.4,39.1,NaN

In [8]:
# Filter out age and Total Pop rows
age_census_df = renamed_census_df.iloc[0:5]
row_to_delete = [1,2,3]
age_census_df.drop(renamed_census_df.index[row_to_delete], inplace=True)
age_census_df

/var/folders/6z/hrjcy3bn6djf_8b605nts_dh0000gp/T/ipykernel_34017/3367387354.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_census_df.drop(renamed_census_df.index[row_to_delete], inplace=True)

,Stat,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming,Puerto Rico
0,Total population,"5,074,296","733,583","7,359,197","3,045,637","39,029,342","5,839,926","3,626,205","1,018,396","671,803",...,"7,051,339","30,029,572","3,380,800","647,064","8,683,619","7,785,786","1,775,156","5,892,539","581,381",NaN
4,Median age (years),39.6,35.9,38.8,38.9,37.9,37.7,40.9,41.5,34.9,...,39.2,35.6,32.1,43.2,39.0,38.4,42.9,40.4,39.1,NaN

In [9]:
# Flip the rows and columns and reset the index
age_data_flipped = age_census_df.set_index('Stat').transpose()
age_data_flipped

Stat                 Total population         Median age (years)
Alabama                     5,074,296                       39.6
Alaska                        733,583                       35.9
Arizona                     7,359,197                       38.8
Arkansas                    3,045,637                       38.9
California                 39,029,342                       37.9
Colorado                    5,839,926                       37.7
Connecticut                 3,626,205                       40.9
Delaware                    1,018,396                       41.5
District of Columbia          671,803                       34.9
Florida                    22,244,823                       42.7
Georgia                    10,912,876                       37.6
Hawaii                      1,440,196                       40.8
Idaho                       1,939,033                       37.5
Illinois                   12,582,032                       39.1
Indiana                     6,833,037                       38.2
Iowa                        3,200,517                       38.9
Kansas                      2,937,150                       37.6
Kentucky                    4,512,310                       39.4
Louisiana                   4,590,241                       38.2
Maine                       1,385,340                       45.1
Maryland                    6,164,660                       39.7
Massachusetts               6,981,974                       40.3
Michigan                   10,034,118                       40.3
Minnesota                   5,717,184                       39.0
Mississippi                 2,940,057                       38.9
Missouri                    6,177,957                       39.1
Montana                     1,122,867                       40.2
Nebraska                    1,967,923                       37.4
Nevada                      3,177,772                       39.0
New Hampshire               1,395,231                       43.3
New Jersey                  9,261,699                       40.4
New Mexico                  2,113,344                       39.4
New York                   19,677,151                       40.0
North Carolina             10,698,973                       39.2
North Dakota                  779,261                       36.2
Ohio                       11,756,058                       39.9
Oklahoma                    4,019,800                       37.1
Oregon                      4,240,137                       40.5
Pennsylvania               12,972,008                       40.9
Rhode Island                1,093,734                       40.7
South Carolina              5,282,634                       40.5
South Dakota                  909,824                       38.5
Tennessee                   7,051,339                       39.2
Texas                      30,029,572                       35.6
Utah                        3,380,800                       32.1
Vermont                       647,064                       43.2
Virginia                    8,683,619                       39.0
Washington                  7,785,786                       38.4
West Virginia               1,775,156                       42.9
Wisconsin                   5,892,539                       40.4
Wyoming                       581,381                       39.1
Puerto Rico                       NaN                        NaN

In [10]:
# Save .csv output
out_path = Path("../datasets/filtered_age_data.csv")
age_data_flipped.to_csv(out_path)