In [4]:
import pandas as pd
import requests
import pprint as pp
from sodapy import Socrata

In [18]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

def pull_data(api_url):
    # Unauthenticated client only works with public data sets. Note 'None'
    # in place of application token, and no username or password:
    client = Socrata("data.cdc.gov", None)
    
    # Example authenticated client (needed for non-public datasets):
    # client = Socrata(data.cdc.gov,
    #                  MyAppToken,
    #                  username="user@example.com",
    #                  password="AFakePassword")

    # First 2000 results, returned as JSON from API / converted to Python list of
    # dictionaries by sodapy.
    
    print(api_url)
    print(api_url.split('/').pop().split('.')[0])
    results = client.get(api_url.split('/').pop().split('.')[0], limit=2000)


    # Convert to pandas DataFrame
    results_df = pd.DataFrame.from_records(results)
    return results_df

In [19]:
table_a = pull_data('https://data.cdc.gov/resource/unsk-b7fc.json')
display(table_a)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

https://data.cdc.gov/resource/unsk-b7fc.json
unsk-b7fc

,date,mmwr_week,location,distributed,distributed_janssen,distributed_moderna,distributed_pfizer,distributed_novavax,distributed_unk_manuf,dist_per_100k,...,dist_bivalent_mod,bivalent_booster_5plus,bivalent_booster_5plus_pop_pct,bivalent_booster_12plus,bivalent_booster_12plus_pop_pct,bivalent_booster_18plus,bivalent_booster_18plus_pop_pct,bivalent_booster_65plus,bivalent_booster_65plus_pop_pct,second_booster
0,2023-05-10T00:00:00.000,19,NE,5481710,152400,1647380,2905630,7400,0,283379,...,193420,340508,18.9,332054,20.5,319161,21.9,151146,48.4,NaN
1,2023-05-10T00:00:00.000,19,LA,10282120,330500,3807980,5164550,10100,0,221178,...,328400,359506,8.3,356199,9.1,349934,9.8,184844,24.9,NaN
2,2023-05-10T00:00:00.000,19,GA,28727475,869100,9763000,14773655,43400,0,270569,...,1023320,1126791,11.3,1103841,12.3,1067468,13.2,476297,31.4,NaN
3,2023-05-10T00:00:00.000,19,WY,1281755,49300,490040,585605,3700,0,221466,...,50600,65920,12.1,64919,13.2,63244,14.2,34832,35.1,NaN
4,2023-05-10T00:00:00.000,19,CO,17769135,501900,5402640,9029715,43600,0,308560,...,757520,1268501,23.4,1229981,24.9,1176686,26.2,462990,55,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2022-10-05T00:00:00.000,40,NJ,26108915,1004300,9293340,15783075,28200,0,293947,...,394800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,2022-10-05T00:00:00.000,40,VA2,8958020,626900,4380980,3942840,7300,0,0,...,148400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,2022-10-05T00:00:00.000,40,MN,15640660,509400,5441820,9680840,8600,0,277335,...,254700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,2022-10-05T00:00:00.000,40,GU,351360,24300,97680,229280,100,0,208536,...,2200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,2022-10-05T00:00:00.000,40,DE,2863855,101600,1089600,1669055,3600,0,294102,...,51100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
table_b = pull_data('https://data.cdc.gov/resource/9b5z-wnve.json')
display(table_b)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

https://data.cdc.gov/resource/9b5z-wnve.json
9b5z-wnve

,date,location,demographic_category,census,up_to_date,up_to_date_pct_agegroup
0,2023-10-11T00:00:00.000,AK,Male_Ages_<5yrs,26153,158,0.6
1,2023-10-11T00:00:00.000,AL,Female_Ages_2-4_yrs,88242,147,0.2
2,2023-10-11T00:00:00.000,AR,Female_Ages_50-64_yrs,291030,44168,15.2
3,2023-10-11T00:00:00.000,AS,Ages_12-17_yrs,5582,0,0
4,2023-10-11T00:00:00.000,AS,Male_Ages_65-74_yrs,1051,0,0
...,...,...,...,...,...,...
1995,2023-10-11T00:00:00.000,NM,Female_Ages_12-17_yrs,81993,10739,13.1
1996,2023-10-11T00:00:00.000,OK,Female_Ages_65-74_yrs,195854,73846,37.7
1997,2023-10-11T00:00:00.000,OK,Male_Ages_50-64_yrs,349384,52367,15
1998,2023-10-11T00:00:00.000,OR,Ages_25-39_yrs,901825,149667,16.6
1999,2023-10-11T00:00:00.000,OR,Ages_40-49_yrs,533049,121154,22.7